<div class="vh-100 position-relative">
    <div class="">
        <h2 class="h1 heading text-secondary">
            <span>about me </span>
            <span>about me </span>
            <span class="text-dark">about me </span>
            <span>about me </span>
            <span>about me </span>
            <span>about me </span>
            <span>about me </span>
        </h2>
    </div>
    <div class="content">
        <div class="container px-5 h-100 d-flex align-items-center">
            <div class="row gx-5">
                <div class="col-md-8 offset-md-1">
                    <h1 class="h1">
                        By combining, UI Design and UI
                        Development skills, I am able to weave 
                        Rich experiences
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

