<section class="section-wrapper">

    <div class="section-heading bg-white">
        <div class="lines">about me   about me   about me   about me   about me   about me   about me  about me   about me   about me   about me   about me   about me   about me </div>
        <div class="lines">about me   about me   about me   about me   about me   about me   about me  about me   about me   about me   about me   about me   about me   about me </div>
        <div class="lines">about me   about me   about me   about me   about me   about me   about me  about me   about me   about me   about me   about me   about me   about me </div>
        <div class="lines">about me   about me   about me   about me   about me   about me   about me  about me   about me   about me   about me   about me   about me   about me </div>
        <div class="lines">about me   about me   about me   about me   about me   about me   about me  about me   about me   about me   about me   about me   about me   about me </div>
        <div class="lines">about me   about me   about me   about me   about me   about me   about me  about me   about me   about me   about me   about me   about me   about me </div>
        <div class="lines">about me   about me   about me   about me   about me   about me   about me  about me   about me   about me   about me   about me   about me   about me </div>
        <div class="lines">about me   about me   about me   about me   about me   about me   about me  about me   about me   about me   about me   about me   about me   about me </div>
        <div class="lines">about me   about me   about me   about me   about me   about me   about me  about me   about me   about me   about me   about me   about me   about me </div>   
        <div class="lines">about me   about me   about me   about me   about me   about me   about me  about me   about me   about me   about me   about me   about me   about me </div>
     </div>
     <div class="section-description">
        dgfdgfdg
     </div>
</section>