<section class="section-wrapper hero-section">
   <div class="starry-space">

      <!-- <div class="main"></div> -->

      <div id="stars">
        
      </div>
      <div id="stars2"></div>
      <div id="stars3"></div> 

   </div>

   <!-- <div class="portfolio-text">
    Portfolio
   </div> -->


   <!-- Place in Body where you'd like intro to appear -->
<div class="star-wars-intro">

  
 
   <!-- Logo Image or Text goes in here -->
   <!-- <h2 class="main-logo">
     <img src="img/star-wars-intro.png">
   </h2> -->
 
   <!-- All Scrolling Content Goes in here -->
   <div class="main-content">
 
     <div class="title-content">
       <p class="content-header">Hi! I am Bhushan and I am a <br>UX Engineer.</p>
 
 
      <p class="content-body">
        By combining, UI Design and UI
        Development skills, I am able to weave
        Rich experiences
      </p>
 
         
     </div>
   </div>
 </div>
</section>