<section class="section-wrapper hero-section">
   <div class="starry-space">
      <div id="stars"></div>
      <div id="stars2"></div>
      <div id="stars3"></div> 
   </div>
  <div class="star-wars-intro">
    <div class="main-content">
      <div class="title-content">
        <p class="content-header">Hi! I am Bhushan and I am a <br>UX Engineer.</p>
          <p class="content-body">
            By combining, UI Design and UI Development skills, I am able to weave Rich experiences
          </p>
      </div>
    </div>
  </div>
</section>