 <section class="section-wrapper">
     <div class="section-heading bg-white">
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
     </div>
 </section>   