<div class="portfolio-section-bg"></div>
 <section class="section-wrapper portfolio-section">
     <!-- <div class="section-heading bg-white">
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
        <div class="lines">portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio   portfolio  portfolio</div> 
     </div> -->
  <h1>dsfdsfds</h1> 
 </section>   