// .text-content {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     height: 160px;
//     overflow:hidden;
    
//     font-family: 'Lato', sans-serif;
//     font-size: 35px;
//     line-height: 40px;
//     color: #ecf0f1;
    
//     &__container {
//       font-weight: 600;
//       overflow: hidden;
//       height: 40px;
//       padding: 0 40px;
  
//     //   &:before {
//     //     content: '[';
//     //     left: 0;
//     //   }
  
//     //   &:after {
//     //     content: ']';
//     //     position: absolute;
//     //     right: 0;
//     //   }
 
  
//       &__text {
//         display: inline;
//         float: left;
//         margin: 0;
//       }
  
//       &__list {
//         margin-top: 0;
//         padding-left: 110px;
//         text-align: left;
//         list-style: none;
        
//         -webkit-animation-name: change;
//         -webkit-animation-duration: 10s;
//         -webkit-animation-iteration-count: infinite;
//         animation-name: change;
//         animation-duration: 10s;
//         animation-iteration-count: infinite;
  
//         &__item {
//           line-height:40px;
//           margin:0;
//         }
//       }
//     }
//   }
  
//   @-webkit-keyframes opacity {
//     0%, 100% {opacity:0;}
//     50% {opacity:1;}
//   }
  
//   @-webkit-keyframes change {
//     0%, 12.66%, 100% {transform:translate3d(0,0,0);}
//     16.66%, 29.32% {transform:translate3d(0,-25%,0);}
//     33.32%,45.98% {transform:translate3d(0,-50%,0);}
//     49.98%,62.64% {transform:translate3d(0,-75%,0);}
//     66.64%,79.3% {transform:translate3d(0,-50%,0);}
//     83.3%,95.96% {transform:translate3d(0,-25%,0);}
//   }
  
//   @-o-keyframes opacity {
//     0%, 100% {opacity:0;}
//     50% {opacity:1;}
//   }
  
//   @-o-keyframes change {
//     0%, 12.66%, 100% {transform:translate3d(0,0,0);}
//     16.66%, 29.32% {transform:translate3d(0,-25%,0);}
//     33.32%,45.98% {transform:translate3d(0,-50%,0);}
//     49.98%,62.64% {transform:translate3d(0,-75%,0);}
//     66.64%,79.3% {transform:translate3d(0,-50%,0);}
//     83.3%,95.96% {transform:translate3d(0,-25%,0);}
//   }
  
//   @-moz-keyframes opacity {
//     0%, 100% {opacity:0;}
//     50% {opacity:1;}
//   }
  
//   @-moz-keyframes change {
//     0%, 12.66%, 100% {transform:translate3d(0,0,0);}
//     16.66%, 29.32% {transform:translate3d(0,-25%,0);}
//     33.32%,45.98% {transform:translate3d(0,-50%,0);}
//     49.98%,62.64% {transform:translate3d(0,-75%,0);}
//     66.64%,79.3% {transform:translate3d(0,-50%,0);}
//     83.3%,95.96% {transform:translate3d(0,-25%,0);}
//   }
  
//   @keyframes opacity {
//     0%, 100% {opacity:0;}
//     50% {opacity:1;}
//   }
  
//   @keyframes change {
//     0%, 12.66%, 100% {transform:translate3d(0,0,0);}
//     16.66%, 29.32% {transform:translate3d(0,-25%,0);}
//     33.32%,45.98% {transform:translate3d(0,-50%,0);}
//     49.98%,62.64% {transform:translate3d(0,-75%,0);}
//     66.64%,79.3% {transform:translate3d(0,-50%,0);}
//     83.3%,95.96% {transform:translate3d(0,-25%,0);}
//   }
  
//   // 6 is the number of animation.
//   // Here, there are 4 lines :
  
//   // 1 to 2
//   // 2 to 3
//   // 3 to 4
//   // 4 to 3
//   // 3 to 2
//   // 2 to 1
  
//   // 6x + 6y = 100 (100% duration)
  
//   // HERE : 
//   // y = 4 -> Animation between two lines
//   // x = 12.66 -> Time spent on a line
  
//   // You can define a value and calculate the other if you want change speed or the number of lines





// <div>
// <!-- &#129412 -->
// <div class="text-text-content">
//     <div class="text-content__container">
//       <ul class="text-content__container__list">
//         <li class="text-content__container__list__item">UX Engineer.</li>
//         <li class="text-content__container__list__item">🦄 Developer.</li>
//         <li class="text-content__container__list__item">UI Designer.</li>
//         <li class="text-content__container__list__item">Front-End Engineer.</li>
//       </ul>
//     </div>
//   </div>

// <span></span>
// </div>


.welcome-container{
    position: fixed;
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}
.roles-wrapper{
    position: relative;
    // overflow: scroll;
    // height: 1.2em;
    // background: gray;
    // // margin-top: 400vh;
    // position: sticky;
    // top:var(--roles-y);
    // margin-left: var(--roles-x);
    // scroll-snap-align: start;
    //  position: sticky;
    // top:var(--roles-y);
    margin-top:var(--roles-y);
    margin-left: var(--roles-x);
    // height: 1.2em;
    // overflow: scroll;
    // // height: 100vh;
    // width: 100vw;
    > div{
        // position: sticky;
        // top:var(--roles-y);

        scroll-snap-align: start;
        margin-bottom: 50px;
    }

}
.roles-placeholder{
    height: 1.2em;
}
.roles-hider-top{
    position: fixed;
    top: 0;
    left: var(--roles-x);
    right: 0;
    bottom: calc(100vh - var(--roles-y));
    background-color: #fff;
}
.roles-hider-bottom{
    position: fixed;
    top: calc(4.2em + var(--roles-y));
    left: var(--roles-x);
    right: 0;
    bottom: -1.2em;
    background-color: #fff;
}


.exp-wrapper{
    position: relative;
    margin-top:var(--exp-y);
    margin-left: var(--exp-x);
    > div{
        scroll-snap-align: start;
        margin-bottom: 50px;
    }

}
.exp-placeholder{
    height: 1.2em;
}
// .exp-hider-top{
//     position: fixed;
//     top: 0;
//     left: var(--roles-x);
//     right: 0;
//     bottom: calc(100vh - var(--roles-y));
//     background-color: #fff;
// }
// .exp-hider-bottom{
//     position: fixed;
//     top: calc(4.2em + var(--roles-y));
//     left: var(--roles-x);
//     right: 0;
//     bottom: -1.2em;
//     background-color: #fff;
// }