<div class="vh-100 d-flex align-items-center welcome-container">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-md-8 offset-md-1">
                <h1 class="h1">
                    Hi, I am Bhushan and I am a 
                    <!-- <span class="d-block">web</span> -->
                    <!-- {{lastScrollTop1}} -->
                    
                    <div class="roles-placeholder" #rolesPlaceholder>
                       
                    </div>
                    
                </h1>   
                <div class="h1 text-secondary">
                    In essence, I create rich
                    <!-- <span class="d-block">web</span> -->
                    <div class="exp-placeholder" #expPlaceholder>

                    </div>
                    experiences. {{!isElementVisible}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="roles-wrapper h1" #rolesWrapper>
    <div>UI Engineer.</div>
    <div>🦄 Developer.</div>
    <div>Front-End Engineer.</div>
    <div>Web Developer.</div>
    <div #myElement>Hybrid Developer.</div>
     <div>Web Developer</div> 
</div>
<div class="roles-hider-top"></div>
<div class="roles-hider-bottom"></div> -->

<!-- <div class="exp-wrapper text-secondary h1">
    <div>Web</div>
    <div>Responsive</div>
    <div>Accessible</div>
    <div>Pixel Perfect</div>
    <div>👌🏻</div>
</div>
<div class="exp-hider-top"></div>
<div class="exp-hider-bottom"></div> -->