
// new layout
html{
    font-family: 'VT323', monospace;
    timeline-scope: --html-timeline;
    scroll-timeline: --html-timeline;
}
.section-wrapper{
    &.hero-section{
      position: sticky;
      top: 0;
      height: 100vh;
      width: 100vw;
      overflow-x: hidden;
    }
    &.portfolio-section{
      height: 100vh;
      width: 100vw;
      overflow-x: hidden;
      position: relative;
      h1{
        font-size: 10rem;
      }
    }
}

.portfolio-section-bg{
  position: absolute;
  inset: 0;
  top:200vh;
  display: block;
  mix-blend-mode: difference;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}
.section-heading{
    height: 100vh;
    color: $secondary;
    font-weight: 700;
    font-size: 4rem;
    overflow: hidden;
    position: sticky;
    top:0;
    // clip-path: inset(100px 50px);
    .lines{
        // margin:0px -50px;
        text-wrap: nowrap;
        margin-left: -2rem;
    }
}
.section-description{
    height: 100vh;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    scroll-snap-align: start;
}


// n is number of stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #{var(--star-color)}';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #{var(--star-color)}';
  }

  @return unquote($value);
}
$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);


.starry-space{
    height: 100vh;
    background-color: #000;
    position: fixed;
    inset:0;
}
#stars {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;


  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}
#stars2 {
  width: 2.5px;
  height: 2.5px;
  border-radius: 50%;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2.5px;
    height: 2.5px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}
#stars3 {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 4px;
    height: 4px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
};






/*
Name: StarWarsIntro.css
*/
.star-wars-intro {
  width: 100vw;
  height: 100vh;
  font-weight: 700;
  color: #EBD71C;
  overflow: hidden;
  position: fixed;
}

.star-wars-intro .main-content{
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  z-index: 3;
  width: 98%;
  height: 50em;
  bottom: 0;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(350px) rotateX(25deg);
}


.star-wars-intro .title-content {
  position: absolute;
  top: 100%;

  animation: scroll auto linear;
  animation-timeline: --html-timeline;
}

.star-wars-intro .title-content > .content-header {
  text-align: center;
  margin-bottom: 24rem;
}

/* Main Image Styles */

.star-wars-intro .main-logo {
  position: absolute;
  width: 2.6em;
  left: 50%;
  top: 20vh;
  font-size: 10em;
  text-align: center;
  margin-left: -1.3em;
  line-height: 0.8em;
  letter-spacing: -0.05em;
  color: #000;
  text-shadow: -2px -2px 0 #EBD71C, 2px -2px 0 #EBD71C, -2px 2px 0 #EBD71C, 2px 2px 0 #EBD71C;
  opacity: 0;
  z-index: 1;
  -webkit-animation: logo 5s ease-out 2.5s;
  -moz-animation: logo 5s ease-out 2.5s;
  -ms-animation: logo 5s ease-out 2.5s;
  -o-animation: logo 5s ease-out 2.5s;
  animation: logo 5s ease-out 2.5s;
}

.star-wars-intro .main-logo > img {
  max-width: 100%;
}


@keyframes scroll {
  0% { 
    top: 100%; 
    color: pink;
  }
  100% { 
    top: -170%; 

    color: greenyellow;

  }
}

@media screen and (max-width: 720px) {
  .star-wars-intro .main-content {
    font-size: 35px;
  }
  .star-wars-intro .title-content {
    position: absolute;
    top: 100%;

    animation: scroll auto linear;
    animation-timeline: --html-timeline;
  }
}

// portfolio
.portfolio-title{
  position: absolute;
}
@keyframes move {
	to {
		/* Move horizontally so that right edge is aligned against the viewport */
		transform: translateX(calc(-100% + 100vw));
		left: 0px;
	}
}

#sectionPin {
	/* Stretch it out, so that we create room for the horizontal scroll animation */
	height: 500vh;
	overflow: visible; /* To make position sticky work … */

	view-timeline-name: --section-pin-tl;
	view-timeline-axis: block;
}

.pin-wrap-sticky {
	/* Stick to Top */
	height: 100vh;
	width: 100vw;
	position: sticky;
	top: 0;

	width: 100vw;
	overflow-x: hidden;
}

.pin-wrap {
	height: 100vh;
	width: 250vmax;

	/* Hook animation */
	will-change: transform;
	animation: linear move forwards;

	/* Link animation to view-timeline */
	animation-timeline: --section-pin-tl;
	animation-range: contain 0% contain 100%;
}