// html{
//     scroll-snap-type: mandatory;
//     scroll-snap-points-y: repeat(100vh);
//    scroll-snap-type: y mandatory;
// //    scroll-padding-top: var(--roles-y);
// }
// :root{
//     --child-scroll-snap-align: start; //start
// }
// .child {
//     scroll-snap-align: var(--child-scroll-snap-align);
//     display: block;
//     height: 100vh;
//     // .first-child{
//     //     position: static;
//     //     top:0px;
//     //     left: 0px;
//     //     right: 100vw;
//     //     // bottom: 100vh;
//     // }
// }
// .h1{
//     font-size: 3.5rem;
//     font-weight: 600;
//     letter-spacing: 1px;
// }
// section{
//     --heading-height: 7.5rem;
//     .heading{
//         white-space: nowrap;
//         overflow: hidden;
//         width: 100%;
//         padding: 2rem 0;
//         margin: 0;
//         position: absolute;
//         left: 0;
//         right: 0;
//         font-size: 3rem;
//     }
//     .content{
//         height: calc(100vh - var(--heading-height));
//         position: relative;
//         top: var(--heading-height);
//     }
//     @include media-breakpoint-up(md){
//         --heading-height: 10.75rem;
//         .heading{
//             padding: 3rem 0;
//             font-size: 4rem;
//         }
//     }
// }


// new layout
html{
    font-family: 'VT323', monospace;
    timeline-scope: --html-timeline;
    scroll-timeline: --html-timeline;
}
.section-wrapper{
    &.hero-section{
      position: sticky;
      top: 0;
      height: 100vh;
      width: 100vw;
      overflow-x: hidden;
    }
    &.portfolio-section{
     
      height: 100vh;
      width: 100vw;
      overflow-x: hidden;
      position: relative;
      // mix-blend-mode: difference;
      // background-color: #fff;
      h1{
        font-size: 10rem;
      }
      // &:before{
      //   display: block;
      //   content: " ";
      //   mix-blend-mode: difference;
      //   background-color: transparent;
      //   height: 100vh;
      //   width: 100vw;
      // }

    }
}

.portfolio-section-bg{
  position: absolute;

  inset: 0;
  top:200vh;
  display: block;
  mix-blend-mode: difference;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}
.section-heading{
    height: 100vh;
    color: $secondary;
    font-weight: 700;
    font-size: 4rem;
    overflow: hidden;
    position: sticky;
    top:0;
    // clip-path: inset(100px 50px);
    .lines{
        // margin:0px -50px;
        text-wrap: nowrap;
        margin-left: -2rem;
    }
}
.section-description{
    height: 100vh;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.21);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(2.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    scroll-snap-align: start;
}


// .main {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     height: 1px;
//     width: 1px;
//     background-color: #fff;
//     border-radius: 50%;
//     box-shadow: -42vw -4vh 0px 0px var(--star-color),25vw -41vh 0px 0px var(--star-color),-20vw 49vh 0px 1px var(--star-color),5vw 40vh 1px 1px var(--star-color),29vw 19vh 1px 0px var(--star-color),-44vw -13vh 0px 0px var(--star-color),46vw 41vh 0px 1px var(--star-color),-3vw -45vh 0px 1px var(--star-color),47vw 35vh 1px 0px var(--star-color),12vw -8vh 1px 0px var(--star-color),-34vw 48vh 1px 1px var(--star-color),32vw 26vh 1px 1px var(--star-color),32vw -41vh 1px 1px var(--star-color),0vw 37vh 1px 1px var(--star-color),34vw -26vh 1px 0px var(--star-color),-14vw -49vh 1px 0px var(--star-color),-12vw 45vh 0px 1px var(--star-color),-44vw -33vh 0px 1px var(--star-color),-13vw 41vh 0px 0px var(--star-color),-36vw -11vh 0px 1px var(--star-color),-23vw -24vh 1px 0px var(--star-color),-38vw -27vh 0px 1px var(--star-color),16vw -19vh 0px 0px var(--star-color),28vw 33vh 1px 0px var(--star-color),-49vw -4vh 0px 0px var(--star-color),16vw 32vh 0px 1px var(--star-color),36vw -18vh 1px 0px var(--star-color),-25vw -30vh 1px 0px var(--star-color),-23vw 24vh 0px 1px var(--star-color),-2vw -35vh 1px 1px var(--star-color),-25vw 9vh 0px 0px var(--star-color),-15vw -34vh 0px 0px var(--star-color),-8vw -19vh 1px 0px var(--star-color),-20vw -20vh 1px 1px var(--star-color),42vw 50vh 0px 1px var(--star-color),-32vw 10vh 1px 0px var(--star-color),-23vw -17vh 0px 0px var(--star-color),44vw 15vh 1px 0px var(--star-color),-40vw 33vh 1px 1px var(--star-color),-43vw 8vh 0px 0px var(--star-color),-48vw -15vh 1px 1px var(--star-color),-24vw 17vh 0px 0px var(--star-color),-31vw 50vh 1px 0px var(--star-color),36vw -38vh 0px 1px var(--star-color),-7vw 48vh 0px 0px var(--star-color),15vw -32vh 0px 0px var(--star-color),29vw -41vh 0px 0px var(--star-color),2vw 37vh 1px 0px var(--star-color),7vw -40vh 1px 1px var(--star-color),15vw 18vh 0px 0px var(--star-color),25vw -13vh 1px 1px var(--star-color),-46vw -12vh 1px 1px var(--star-color),-18vw 22vh 0px 0px var(--star-color),23vw -9vh 1px 0px var(--star-color),50vw 12vh 0px 1px var(--star-color),45vw 2vh 0px 0px var(--star-color),14vw -48vh 1px 0px var(--star-color),23vw 43vh 0px 1px var(--star-color),-40vw 16vh 1px 1px var(--star-color),20vw -31vh 0px 1px var(--star-color),-17vw 44vh 1px 1px var(--star-color),18vw -45vh 0px 0px var(--star-color),33vw -6vh 0px 0px var(--star-color),0vw 7vh 0px 1px var(--star-color),-10vw -18vh 0px 1px var(--star-color),-19vw 5vh 1px 0px var(--star-color),1vw 42vh 0px 0px var(--star-color),22vw 48vh 0px 1px var(--star-color),39vw -8vh 1px 1px var(--star-color),-6vw -42vh 1px 0px var(--star-color),-47vw 34vh 0px 0px var(--star-color),-46vw 19vh 0px 1px var(--star-color),-12vw -32vh 0px 0px var(--star-color),-45vw -38vh 0px 1px var(--star-color),-28vw 18vh 1px 0px var(--star-color),-38vw -46vh 1px 1px var(--star-color),49vw -6vh 1px 1px var(--star-color),-28vw 18vh 1px 1px var(--star-color),10vw -24vh 0px 1px var(--star-color),-5vw -11vh 1px 1px var(--star-color),33vw -8vh 1px 0px var(--star-color),-16vw 17vh 0px 0px var(--star-color),18vw 27vh 0px 1px var(--star-color),-8vw -10vh 1px 1px var(--star-color);
  
//   /* stars were too big with the layers above but left the code in case no one cares  -- as in, if noone's just that  one other loner who actually cares    */
  
//   box-shadow: 24vw 9vh 1px 0px var(--star-color),12vw -24vh 0px 1px var(--star-color),-45vw -22vh 0px 0px var(--star-color),-37vw -40vh 0px 1px var(--star-color),29vw 19vh 0px 1px var(--star-color),4vw -8vh 0px 1px var(--star-color),-5vw 21vh 1px 1px var(--star-color),-27vw 26vh 1px 1px var(--star-color),-47vw -3vh 1px 1px var(--star-color),-28vw -30vh 0px 1px var(--star-color),-43vw -27vh 0px 1px var(--star-color),4vw 22vh 1px 1px var(--star-color),36vw 23vh 0px 0px var(--star-color),-21vw 24vh 1px 1px var(--star-color),-16vw 2vh 1px 0px var(--star-color),-16vw -6vh 0px 0px var(--star-color),5vw 26vh 0px 0px var(--star-color),-34vw 41vh 0px 0px var(--star-color),1vw 42vh 1px 1px var(--star-color),11vw -13vh 1px 1px var(--star-color),48vw -8vh 1px 0px var(--star-color),22vw -15vh 0px 0px var(--star-color),45vw 49vh 0px 0px var(--star-color),43vw -27vh 1px 1px var(--star-color),20vw -2vh 0px 0px var(--star-color),8vw 22vh 0px 1px var(--star-color),39vw 48vh 1px 1px var(--star-color),-21vw -11vh 0px 1px var(--star-color),-40vw 45vh 0px 1px var(--star-color),11vw -30vh 1px 0px var(--star-color),26vw 30vh 1px 0px var(--star-color),45vw -29vh 0px 1px var(--star-color),-2vw 18vh 0px 0px var(--star-color),-29vw -45vh 1px 0px var(--star-color),-7vw -27vh 1px 1px var(--star-color),42vw 24vh 0px 0px var(--star-color),45vw -48vh 1px 0px var(--star-color),-36vw -18vh 0px 0px var(--star-color),-44vw 13vh 0px 1px var(--star-color),36vw 16vh 0px 1px var(--star-color),40vw 24vh 0px 0px var(--star-color),18vw 11vh 0px 0px var(--star-color),-15vw -23vh 1px 0px var(--star-color),-24vw 48vh 0px 1px var(--star-color),27vw -45vh 1px 0px var(--star-color),-2vw -24vh 0px 1px var(--star-color),-15vw -28vh 0px 0px var(--star-color),-43vw 13vh 1px 0px var(--star-color),7vw 27vh 1px 0px var(--star-color),47vw 5vh 0px 0px var(--star-color),-45vw 15vh 1px 1px var(--star-color),-5vw -28vh 0px 1px var(--star-color),38vw 25vh 1px 1px var(--star-color),-39vw -1vh 1px 0px var(--star-color),5vw 0vh 1px 0px var(--star-color),49vw 13vh 0px 0px var(--star-color),48vw 10vh 0px 1px var(--star-color),19vw -28vh 0px 0px var(--star-color),4vw 7vh 0px 0px var(--star-color),21vw 21vh 1px 1px var(--star-color),-15vw -15vh 0px 1px var(--star-color),-6vw -42vh 1px 0px var(--star-color),-15vw 48vh 1px 1px var(--star-color),-23vw 25vh 1px 1px var(--star-color),-48vw 25vh 0px 1px var(--star-color),-31vw -19vh 0px 1px var(--star-color),4vw 37vh 1px 1px var(--star-color),-43vw 28vh 0px 0px var(--star-color),3vw -25vh 0px 1px var(--star-color),-39vw 14vh 0px 1px var(--star-color),-40vw 31vh 0px 1px var(--star-color),35vw -36vh 1px 1px var(--star-color),16vw 49vh 0px 0px var(--star-color),6vw 39vh 0px 0px var(--star-color),3vw -35vh 0px 1px var(--star-color),-44vw -2vh 1px 0px var(--star-color),-6vw 21vh 1px 0px var(--star-color),48vw 9vh 1px 1px var(--star-color),-43vw 30vh 1px 1px var(--star-color),29vw -12vh 1px 1px var(--star-color),-48vw 13vh 1px 0px var(--star-color),-42vw 32vh 1px 1px var(--star-color),34vw 15vh 1px 1px var(--star-color),29vw -37vh 1px 1px var(--star-color),28vw 2vh 0px 0px var(--star-color);
//   animation: zoom 16s alternate infinite; 
// }

// @keyframes zoom {
//     0%{
//         transform: scale(1);
//     }
//     100%{
//         transform: scale(1.5);
//     }
// }



// @import compass;


// n is number of stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #{var(--star-color)}';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #{var(--star-color)}';
  }

  @return unquote($value);
}
$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

// html {
//   height: 100%;
//   background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
//   overflow: hidden;
// }

.starry-space{
    height: 100vh;
    background-color: #000;
    position: fixed;
    inset:0;
}
#stars {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;


  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}
#stars2 {
  width: 2.5px;
  height: 2.5px;
  border-radius: 50%;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2.5px;
    height: 2.5px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}
#stars3 {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 4px;
    height: 4px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
};

.portfolio-text{
  font-size: 10rem;
  z-index: 1;
    position: absolute;
    top:0;
    left: 0;
    color: orange;
}






/*
Name: StarWarsIntro.css
URI: polarnotion.github.io/starwarsintro
Author: Polar Notion
Author URI: http://polarnotion.com/
Description: A simple CSS library for creating a Star Wars Intro Crawl. May the Force be with you.
Version: 1.0
*/

// body, html{
//     height: 100%;
//     min-height: 100vh;
//     margin: 0px;
//   }
  
  .star-wars-intro {
    // background: url("img/stars-bg.jpg") center center;
    width: 100vw;
    height: 100vh;
    // font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    color: #EBD71C;
    // background-color: #000;
    overflow: hidden;
    position: fixed;
  }
  
  .star-wars-intro .main-content{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 3;
    width: 98%;
    height: 50em;
    bottom: 0;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(350px) rotateX(25deg);
    // background-color: red;
  }

  
  .star-wars-intro .title-content {
    position: absolute;
    top: 100%;
    // animation: scroll 120s linear 4s forwards;

    animation: scroll auto linear;
    animation-timeline: --html-timeline;
  }
  
  .star-wars-intro .title-content > .content-header {
    text-align: center;
    margin-bottom: 24rem;
  }
  
  /* Main Image Styles */
  
  .star-wars-intro .main-logo {
    position: absolute;
    width: 2.6em;
    left: 50%;
    top: 20vh;
    font-size: 10em;
    text-align: center;
    margin-left: -1.3em;
    line-height: 0.8em;
    letter-spacing: -0.05em;
    color: #000;
    text-shadow: -2px -2px 0 #EBD71C, 2px -2px 0 #EBD71C, -2px 2px 0 #EBD71C, 2px 2px 0 #EBD71C;
    opacity: 0;
    z-index: 1;
    -webkit-animation: logo 5s ease-out 2.5s;
    -moz-animation: logo 5s ease-out 2.5s;
    -ms-animation: logo 5s ease-out 2.5s;
    -o-animation: logo 5s ease-out 2.5s;
    animation: logo 5s ease-out 2.5s;
  }
  
  .star-wars-intro .main-logo > img {
    max-width: 100%;
  }
  
  
  @keyframes scroll {
    0% { 
      top: 100%; 
      color: pink;
    }
    100% { 
      top: -170%; 

      color: greenyellow;

    }
  }
  
  @media screen and (max-width: 720px) {
    .star-wars-intro .main-content {
      font-size: 35px;
    }
    .star-wars-intro .title-content {
      position: absolute;
      top: 100%;
    //   animation: scroll 100s linear 4s forwards;

      animation: scroll auto linear;
	    animation-timeline: --html-timeline;
    }
  }