<!-- <main (scroll)="scrollHandler($event)" >
    <section >
        <app-welcome [lastScrollTop1]="lastScrollTop" class="child first-child"></app-welcome>
    </section>
    <section>
        <app-about-me class="child"></app-about-me>
    </section>
    <section>
        <app-portfolio class="child"></app-portfolio>
    </section>
    <section>
        <app-get-in-touch class="child"></app-get-in-touch>
    </section>
</main> -->
<div class="image-pusher">

</div>
<!-- <figure>
    <img src="assets/hero-animation/0000.jpg" alt="" title="" height="720" class="revealing-image" id="revealing-image-1">
    <figcaption><a href="https://unsplash.com/photos/PX_1j-M59I8">Polar bear walking</a> by <a href="https://unsplash.com/@dtbosse">Daniel Bosse</a></figcaption>
</figure> -->

<div class="revealing-image"></div>

<div class="image-pusher">

</div>