<!-- <main (scroll)="scrollHandler($event)" >
    <section >
        <app-welcome [lastScrollTop1]="lastScrollTop" class="child first-child"></app-welcome>
    </section>
    <section>
        <app-about-me class="child"></app-about-me>
    </section>
    <section>
        <app-portfolio class="child"></app-portfolio>
    </section>
    <section>
        <app-get-in-touch class="child"></app-get-in-touch>
    </section>
</main> -->
<!-- <div class="image-pusher">

</div>
<div class="revealing-image"></div>

<div class="image-pusher">

</div> -->
<div class="vh-100"></div>
<div class="vh-100"></div>
<div class="vh-100"></div>
<div class="vh-100"></div>
<app-hero></app-hero>
<app-portfolio></app-portfolio>

